<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="/q_sub" method="post">

<p>&nbsp;</p>
<table width="419" height="177" border="1">
  <tr>
    <td width="47">S.No</td>
    <td width="71">Date</td>
    <td width="71">Intern</td>
    <td width="136">Query</td>
    <td width="137">Reply</td>
  </tr>
  <% var counter =1;
  mnn.forEach(i=> { %>
    <tr>
    <td>&nbsp;<%= counter %></td>
    <td>&nbsp;<%= i.date %></td>
    
    <td>&nbsp;<img src="<%= i.Photo%>" height="100px" alt="No Photo"><%= i.Intern_Name %></td>
    <td>&nbsp;<%= i.Query%></td>
    <td>&nbsp;<% if(i.Reply=='Not yet replied'){ %>
      <a  href='/rep/<%= i.id%>' >Click here to Reply</a>;
      <%}else{%>
        <%= i.Reply%>;
      <%} %></td>
    
    

   
  </tr>
  <% counter++;
}); %>
 
</table>
</form>
</body>
</html>
