<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">

<table width="200" border="1">
  <tr>
    <td>S.No</td>
    <td>Assigned Date</td>
     <td>Work Title</td>
     <td>Description</td>
     <td>Submission Date</td>
     <td>Work File</td>
  
  </tr>
  <% var counter =1;
  mnn.forEach(i=> { %>
    <tr>
    <td>&nbsp;<%= counter %></td>
    <td>&nbsp;<%= i.assign_date %></td>
    <td>&nbsp;<%= i.workk_name%></td>
    <td>&nbsp;<%= i.work %></td>
    <td>&nbsp;<%= i.submission_date %></td>
    <td>&nbsp;<%= i.attach_file %></td>
    

   <td> <a href='/viewassignedworkintern/<%=i.id%>'>View Assigned Intern</a></td>

  </tr>
  <% counter++;
}); %></table>

  

</form>
</body>
</html>
