<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document <%= title %></title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/addcourseallocation">
  <table width="200" border="1">
    <tr>
      <td>Course </td>
      <td><label>
        <select name="select" id="select">
          <option>Select</option>
          <% cnn.forEach(i=>{ %>
            <option value="<%= i._id%>"><%= i.course_name %></option>

       <% }); %>
        </select>
      </label></td>
    </tr>
    <tr>
      <td>Intern </td>
      <td><label>
        <select name="select2" id="select">
          <option>Select</option>
          <% mnn.forEach(i=>{ %>
            <option value="<%= i._id%>"><%= i.Name %></option>

       <% }); %>
        </select>
      </label></td>
    </tr>
    <tr>
      <td><input type="submit" name="button" id="button" value="Add" /></td>
    </tr>
  </table>
</form>
</body>
</html>









<!-- // import React, { useState, useEffect } from 'react';
// import axios from 'axios';

// const AddCourseAllocation = () => {
//   const [courses, setCourses] = useState([]);
//   const [interns, setInterns] = useState([]);

//   useEffect(() => {
//     axios.get('/api/courses')
//       .then(res => {
//         setCourses(res.data);
//       });

//     axios.get('/api/interns')
//       .then(res => {
//         setInterns(res.data);
//       });
//   }, []);

//   const handleSubmit = (e) => {
//     e.preventDefault();
//     const courseId = e.target.select.value;
//     const internId = e.target.select2.value;

//     axios.post('/api/addcourseallocation', { courseId, internId })
//       .then(res => {
//         console.log(res.data);
//       });
//   };

//   return (
//     <form onSubmit={handleSubmit}>
//       <table>
//         <tr>
//           <td>Course</td>
//           <td>
//             <select name="select" id="select">
//               <option>Select</option>
//               {courses.map(course => (
//                 <option key={course._id} value={course._id}>{course.course_name}</option>
//               ))}
//             </select>
//           </td>
//         </tr>
//         <tr>
//           <td>Intern</td>
//           <td>
//             <select name="select2" id="select">
//               <option>Select</option>
//               {interns.map(intern => (
//                 <option key={intern._id} value={intern._id}>{intern.Name}</option>
//               ))}
//             </select>
//           </td>
//         </tr>
//         <tr>
//           <td colSpan="2">
//             <button type="submit">Add</button>
//           </td>
//         </tr>
//       </table>
//     </form>
//   );
// };

// export default AddCourseAllocation; -->
