<!-- <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body><form action="" method="get"><table width="200" border="1">
  <tr>
    <td>S.No</td>
    <td>Name</td>
    <td>State</td>
    <td>City</td>
    <td>PIN Code</td>
    <td>Phone No</td>
    <td>Email</td>
    <td>Qualification</td>
    <td>Course</td>
    <td>Mentor</td>
  </tr>
  <% inn.forEach(i=> { %>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;<%= i.Name %><br><img src="<%= i.Photo %>" height="100px"/></td>
    <td>&nbsp;<%= i.State %></td>
    <td>&nbsp;<%= i.City %></td>
    <td>&nbsp;<%= i.Pin %></td>
    <td>&nbsp;<%= i.Phone %></td>
    <td>&nbsp;<%= i.Email %></td>
    <td>&nbsp;<%= i.Qualifications %></td>
    <td><a href="#">Assign</a></td>
    <td><a href="#">Assign</a></td>
    <td><a href="/editintern/<%= i._id%>">Edit</a></td>
    <td><a href="/deleteintern/<%= i._id%>">Delete</a></td>
  </tr>
  <% }); %>
</table>
</form>
</body>
</html> -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Intern Management</title>
<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }
    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }
    th {
        background-color: #f2f2f2;
    }
    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
    .img-column {
        width: 100px;
    }
    .btn-column {
        width: 100px;
    }
</style>
</head>

<body>
<form action="" method="get">
    <table>
        <tr>
            <th>S.No</th>
            <th>Name</th>
            <th>State</th>
            <th>City</th>
            <th>PIN Code</th>
            <th>Phone No</th>
            <th>Email</th>
            <th>Qualification</th>
            <th>Course</th>
            <th>Mentor</th>
        </tr>
        <% var counter =1;
         inn.forEach(i=> { %>
        <tr>
            <td>&nbsp;<%= counter %></td>
            <td class="img-column">&nbsp;<%= i.Name %><br><img src="<%= i.Photo %>" height="100px"/></td>
            <td>&nbsp;<%= i.State %></td>
            <td>&nbsp;<%= i.City %></td>
            <td>&nbsp;<%= i.Pin %></td>
            <td>&nbsp;<%= i.Phone %></td>
            <td>&nbsp;<%= i.Email %></td>
            <td>&nbsp;<%= i.Qualifications %></td>
            <td><a href="#">Assign</a></td>
            <td><a href="#">Assign</a></td>
            <td class="btn-column"><a href="/editintern/<%= i._id%>">Edit</a></td>
            <td class="btn-column"><a href="/deleteintern/<%= i._id%>">Delete</a></td>
        </tr>
        <% counter++
    }); %>
    </table>
</form>
</body>
</html>