<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="" method="get">
<table width="354" border="1">
  <tr>
    <td width="29">S.No</td>
    <td width="93">Assigned Date</td>
    <td width="118">Assignment Title </td>
    <td width="93">Description</td>

    <td width="86">Submission Date </td>
  </tr>
  <% var counter =1;
  mnn.forEach(i=> { %>
    <tr>
    <td>&nbsp;<%= counter %></td>
    <td>&nbsp;<%= i.assign_date %></td>
    <td>&nbsp;<%= i.workk_name %></td>
    <td>&nbsp;<%= i.work %></td>
    <td>&nbsp;<%= i.submission_date%><td>
    
    
  </tr>
  <% counter++;
}); %>
  </table>
</form>
</body>
</html>
